.searchBox {
    width: 400px;
    height: 40px;
    background: #f0f5ff;
    border-radius: 6px;
    padding: 3px 15px;
}

.searchBox input {
    background: transparent;
    border: 0px;
    outline: none;
    font-size: 14px;
    color: #292929;
    width: 390px;
}

.searchBox input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.searchBox svg {
    font-size: 18px;
    color: #292929;
}