@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

* {
  font-family: "Vazirmatn", sans-serif !important;
  margin: 0px;
  padding: 0px;
}

body {
  background: #ebe9e9;
}

body.dark {
  background: #071739 !important;
}

.text-sky {
  color: #0858f7 !important;
}

.btn-blue {
  background: #0858f7 !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #fff !important;
  border-radius: 8px !important;
}

.btn-lg {
  padding: 5px 25px !important;
}

.link {
  color: #5e5d72 !important;
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  color: #0858f7 !important;
  text-decoration: underline;
}

.main .sidebarWrapper {
  width: 20%;
  flex: 0 0 20%;
  transition: all 0.3 ease-in-out;
}

.main .sidebarWrapper.toggle {
  width: 0%;
  flex: 0 0 0%;
}

.main .sidebarWrapper.toggle .sidebar {
  right: -100%;
}

.sidebar::-webkit-scrollbar-thumb {
  background: transparent !important;
}

.main .sidebarWrapper:hover ::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.main .sidebarWrapper:hover ::-webkit-scrollbar-thumb {
  background: #0858f7 !important;
}

.main .sidebarWrapper:hover ::-webkit-scrollbar-track {
  background: transparent !important;
}

.rtl {
  direction: rtl !important;
}

.full {
  max-width: 100% !important;
  flex: 0 0 100% !important;
  width: 100%;
}
