@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

* {
  font-family: "Vazirmatn", sans-serif !important;
  margin: 0px;
  padding: 0px;
}

body {
  background: #ebe9e9;
}

.text-sky {
  color: #0858f7 !important;
}

.btn-blue {
  background: #0858f7 !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #fff !important;
  border-radius: 5px !important;
}

.main .sidebarWrapper {
  width: 20%;
  flex: 0 0 20%;
  transition: all 0.3 ease-in-out;
}

.sidebar::-webkit-scrollbar-thumb {
  background: transparent !important;
}

.main .sidebarWrapper:hover ::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.main .sidebarWrapper:hover ::-webkit-scrollbar-thumb {
  background: #0858f7 !important;
}

.main .sidebarWrapper:hover ::-webkit-scrollbar-track {
  background: transparent !important;
}

.rtl {
  direction: rtl !important;
}