@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

* {
  font-family: "Vazirmatn", sans-serif !important;
  margin: 0px;
  padding: 0px;
}

body {
  background: #ebe9e9;
}

.text-sky {
  color: #0858f7 !important;
}

.btn-blue {
  background: #0858f7 !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #fff !important;
  border-radius: 5px !important;
}
