.sliderSml .slick-slide {
  padding-right: 5px !important;
}

.sliderSml .slick-slide .item {
  border-radius: 7px !important;
  overflow: hidden !important;
}

.sliderSml *,
.sliderBig * {
  transition: all 0.2s ease-in-out !important;
}

h4 {
  line-height: 32px !important;
}

.sliderBig .item {
  overflow: hidden !important;
  border-radius: 10px !important;
  border: 2px dashed #ccc;
}

body.dark .ratingSection span,
body.dark .productInfo span,
body.dark .ratingrow .col3,
body.dark .reviewSection .info span {
  color: rgba(255, 255, 255, 0.7);
}

.productDetailsSection .productInfo .icon {
  width: 18%;
  flex: 0 0 18%;
  font-size: 25px;
}

body.light .productDetailsSection .productInfo .icon svg {
  color: #5e5d72 !important;
}

.productDetailsSection .productInfo .name {
  width: 82%;
  flex: 0 0 82%;
  font-weight: 600;
  font-size: 15px;
}

body.light .productDetailsSection .productInfo .name {
  color: #5e5d72 !important;
}

body.dark .productDetailsSection .productInfo .name {
  color: rgba(255, 255, 255, 0.8) !important;
}

.productDetailsSection .productInfo .row {
  margin-bottom: 10px !important;
}

.productDetailsSection .productInfo .row .col-sm-9 {
  display: flex;
  align-items: center;
}

.productDetailsSection .productInfo .row .col-sm-9 span {
  opacity: 0.8;
  font-size: 15px !important;
  padding-right: 20px;
}

.tags {
  margin-bottom: 0px !important;
}

.tags li {
  margin-right: 0px !important;
}

.tags .spanWrapepr {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #f1f1f1 !important;
  border-radius: 5px !important;
  font-size: 13px !important;
  padding: 5px 10px !important;
  margin-left: 15px !important;
  text-align: center !important;
}
body.dark .tags .spanWrapepr {
  background: #1b2b4d !important;
}

.tags li span:first-child {
  padding-right: 0px !important;
}

p {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
}

body.light p {
  font-weight: 400 !important;
}

.ratingSection {
  width: 500px;
}

.ratingSection .ratingrow {
  width: 100%;
  margin-bottom: 15px;
}

.ratingSection .ratingrow .col1 {
  width: 15%;
  flex: 0 0 15%;
}

.ratingSection .ratingrow .col2 {
  width: 50%;
  flex: 0 0 50%;
}

.ratingSection .ratingrow .col3 {
  width: 25%;
  flex: 0 0 25%;
  padding-right: 20px;
}

.muirtl-l16vtb-MuiLinearProgress-bar1 {
  background: #edb213 !important;
}

.muirtl-1txyin7-MuiLinearProgress-root {
  background: #000 !important;
}

body.light .muirtl-1txyin7-MuiLinearProgress-root {
  background: #ccc !important;
}

.reviewSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviewSection .reviewRow {
  width: 100%;
  height: auto;
  background: #f1f1f1;
  padding: 35px;
  border-radius: 10px;
}

body.dark .reviewSection .reviewRow {
  background: #071739;
}

.userInfo h5 {
  margin-bottom: 0px !important;
}

.MuiRating-iconEmpty {
  color: red;
}

body.dark .muirtl-9xw0na-MuiRating-icon {
  color: #503f3f !important;
}

.reviewSection .reviewRow.reply {
  width: 90%;
  margin-right: auto;
}

.reviewForm {
  width: 100%;
}

.reviewForm textarea {
  width: 100%;
  height: 200px;
  background: #f1f1f1 !important;
  outline: navajowhite !important;
  border: 1px solid #f1f1f1 !important;
  padding: 15px;
  border-radius: 10px;
}

body.dark .reviewForm textarea {
  background: #132345 !important;
  border: 1px solid #0d1a36 !important;
  color: rgba(255, 255, 255, 0.7);
}

body.dark .reviewForm textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.productZoom {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
}

.zoomSliderBig {
  width: 100% !important;
}

.zoomSlider * {
  padding-top: 1px;
  cursor: pointer;
  outline: none !important;
}

.zoomSlider .slick-slide {
  border-radius: 10px;
  padding-left: 20px !important;
}
