.dashboardBox {
  width: 48%;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  color: #fff;
}

.dashboardBox .col1 h4 {
  font-size: 20px;
  font-weight: 600;
}

.dashboardBox .col1 span {
  font-size: 35px !important;
  font-weight: bold;
  line-height: 45px;
}

.dashboardBox .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
  );
}

.dashboardBox .icon svg {
  font-size: 30px;
  opacity: 0.4;
  color: #fff;
}

.dashboardBox .toggleIcon {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.dashboardBox .chart {
  opacity: 0.1;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.dashboardBox .chart svg {
  transform: rotate(180deg);
  font-size: 110px;
  color: #000;
}

.dashboardBox .bottomEle {
    position: relative;
    top: 25px;
}

.dropdown_menu .MuiButtonBase-root svg {
    color: #000 !important;
    font-size: 17px !important;
    margin-right: 5px !important;
}