.newsLetterBanner {
  width: 500px;
  height: 60px;
  position: absolute;
  bottom: 100px;
  right: 7%;
  z-index: 10;
}

.newsLetterBanner input {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 30px;
  border: 0px;
  outline: none !important;
  padding-left: 131px;
  font-size: 17px;
}

.newsLetterBanner input::placeholder {
  padding-left: 138px;
}

.newsLetterBanner button {
  padding: 14px 39px !important;
  border-radius: 50px;
  color: #fff !important;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 19px !important;
}

.newsLetterBanner svg {
  transform: rotate(216deg);
  position: absolute;
  top: 15px;
  right: 22px;
  z-index: 100;
  opacity: 0.5;
}
