::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: #0858f7 !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

header {
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
}

body.dark header {
  background: #112143 !important;
}

header .logo {
  text-decoration: none;
}

header .logo img {
  width: 90px;
}

header .logo span {
  color: #292929;
  font-weight: 900;
  font-size: 22px;
}

body.dark header .logo span {
  color: #fff !important;
  opacity: 0.8;
}

header button.rounded-circle {
  min-width: 40px;
  width: 40px;
  height: 40px;
  background: #f0f5ff;
  color: #0858f7;
}

header button.rounded-circle svg {
  color: #292929;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

header button.rounded-circle:hover svg {
  color: #0858f7 !important;
}

body.dark header button.rounded-circle {
  background: #112755 !important;
}

body.dark header button.rounded-circle svg {
  color: #fff !important;
}

header .part2 button.rounded-circle {
  transform: rotate(180deg);
}

.myAcc {
  text-align: right;
  text-transform: lowercase !important;
  color: #0858f7 !important;
  opacity: 0.7 !important;
  border-radius: 20px;
}

.userImg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 1px solid #0858f7;
  padding: 2px;
  border-radius: 100%;
}

.userImg .rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.userImg .rounded-circle img {
  object-fit: cover;
  width: 100%;
}

.userImg.lg {
  width: 60px !important;
  height: 60px !important;
}

.myAcc .userInfo {
  padding-right: 10px;
}

.myAcc .userInfo h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #292929;
}

body.dark .myAcc .userInfo h4 {
  color: rgba(255, 255, 255, 0.8) !important;
}

.myAcc .userInfo p {
  margin-top: 0px;
  font-size: 15px;
  color: #000;
  opacity: 0.7;
}

body.dark .myAcc .userInfo p {
  color: rgba(255, 255, 255, 0.8) !important;
}

body.dark .MuiPaper-elevation {
  background: #11254e;
}

body.dark .MuiPaper-elevation li *,
body.dark .MuiPaper-elevation li {
  color: rgba(255, 255, 255, 0.8);
}

.allMenuItemWrapper {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#account-menu li {
  font-size: 15px !important;
  padding: 12px 15px !important;
}

#account-menu li svg {
  font-size: 20px !important;
}

.dropdown_list .head {
  padding-top: 14px !important;
}

.dropdown_list .head h4 {
  font-size: 20px !important;
  font-weight: 600 !important;
}

body.dark .dropdown_list .head h4 {
  color: rgba(255, 255, 255, 0.8) !important;
}

.dropdown_list li.MuiButtonBase-root {
  background: #ebf6ff !important;
  color: #000 !important;
  padding: 10px 15px !important;
}

body.dark .dropdown_list li.MuiButtonBase-root {
  background-color: #12254e !important;
}

.dropdown_list li.MuiButtonBase-root:hover {
  background: #e2e8ed;
}

.dropdownInfo {
  padding-right: 15px;
  max-width: 200px;
}

.dropdownInfo h4 {
  font-size: 14px;
  font-weight: 500;
  white-space: wrap;
  line-height: 21px;
  margin-top: 0px;
}

.dropdownInfo h4 b {
  font-weight: 600;
  margin-left: 5px;
}

.dropdownInfo p {
  font-size: 12px;
  font-weight: 500;
  margin-top: 0px;
}
