.homeProducts {
  padding: 25px 0px;
}

.homeProducts .productRow {
  display: flex;
  padding: 30px 0px;
  margin: 0px -15px;
  flex-wrap: wrap;
}

.homeProducts .productRow .item {
  width: 318px;
  padding: 15px 10px;
}

.forPaddingLeft {
  padding-left: 15px !important;
}

.filterTab li {
  margin-left: 25px;
  position: relative;
  font-weight: 600;
}
.filterTab li a {
  color: #000;
  text-decoration: none;
  font-size: 19px;
  display: inline-block;
}

.filterTab li:hover a {
  color: #3bb77e !important;
  transform: translateY(-10px);
}

.filters_Products button {
  font-size: 17px !important;
  color: rgba(0, 0, 0, 0.8) !important;
}

.muirtl-1qltlow-MuiTabs-indicator {
  background-color: #3bb77e !important;
}

.filters_Products .MuiButtonBase-root svg {
  font-size: 30px !important;
}

.filters_Products {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
