.homeProducts {
  padding: 25px 0px;
}
.filterTab li {
  margin-left: 25px;
  position: relative;
  font-weight: 600;
}
.filterTab li a {
  color: #000;
  text-decoration: none;
  font-size: 22px;
  display: inline-block;
}

.filterTab li:hover a {
  color: #3bb77e !important;
  transform: translateY(-10px);
}

.homeProducts .productRow {
  display: flex;
  padding: 30px 0px;
  margin: 0px -15px;
  flex-wrap: wrap;
}

.homeProducts .productRow .item {
  width: 20%;
  padding: 15px 10px;
}

.forPaddingLeft {
  padding-left: 15px !important;
}

.homeProductsRow2 .prodSlider .item {
  padding: 15px 0px !important;
  padding-right: 12px !important;
}

.homeProductsRow2 .prodSlider .slick-current .productThumb {
  box-shadow: 0px 3px 6px rgba(216, 7, 7), 0px 3px 6px rgba(247, 5, 5);
}
