.shoppingPage {
  width: 100%;
  height: auto;
  padding: 45px 0px;
}

.sidebarWrapper {
  max-width: 20% !important;
  flex: 0 0 20% !important;
}

.shoppingDataRightContent {
  max-width: 80% !important;
  flex: 0 0 80% !important;
}

.sidebarWrapper h3 {
  font-size: 32px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.sidebarWrapper h3::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #f0f0f0;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.sidebarWrapper h3::before {
  content: "";
  width: 20%;
  height: 3px;
  background: #b0e5c2;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 10;
}

.sidebarWrapper .sidebar {
  position: sticky !important;
  top: 110px !important;
}

.productsForShop .productsForShopRow .item {
  width: 300px;
}

.shoppingDataRightContent .topStrip {
  padding: 0px 25px;
}

.shoppingDataRightContent .topStrip p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.shoppingDataRightContent .topStrip .tab_ {
  width: 200px;
}

.shoppingDataRightContent .topStrip .tab_ .btn_ {
  background: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  padding: 7px 20px !important;
  color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 10px !important;
  font-size: 15px !important;
  width: 100%;
  justify-content: flex-start !important;
}

.shoppingDataRightContent .topStrip .tab_ .btn_ svg {
  opacity: 0.5;
}

.shoppingDataRightContent .topStrip .tab_ .dropdownMenu {
  top: 100% !important;
  z-index: 4984789;
}
