.sidebar .card {
  padding: 25px !important;
  border-radius: 10px !important;
  margin-bottom: 30px;
}

.sidebar .card .catList {
  max-height: 330px;
  overflow-y: scroll;
}

.sidebar .card .catList::-webkit-scrollbar {
  width: 10px !important;
}

.sidebar .card .catList::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.sidebar .card .catList::-webkit-scrollbar {
  width: 7px !important;
}

.sidebar .card .catList .catItem {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border-radius: 4px;
  margin: 10px 0px;
  transition: all 0.3s ease-in-out;
}

.sidebar .card .catList .catItem h4 {
  color: #000;
  font-size: 18px;
}

.sidebar .card .catList .catItem .rounded-circle {
  background: #bce3c9;
  width: 40px;
  height: 40px;
  font-size: 19px;
}

.sidebar .card .catList .catItem:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar .rangeSlider {
  direction: rtl !important;
}

.priceRange span {
  font-size: 18px;
}

.priceRange .min-price {
  position: relative !important;
}

.priceRange .max-price {
  position: relative !important;
}

.priceRange .toomanSvg {
  position: absolute;
  top: -20px;
  width: 20px;
  height: 32px;
}

.priceRange .maxToomanSvg {
  position: absolute;
  top: -20px;
}

.filters {
  padding: 25px 0px;
}

.filters h5 {
  font-weight: 600;
}

.filters ul {
  max-height: 200px;
  overflow-y: scroll;
  margin-right: -11px;
}

.filters ul::-webkit-scrollbar {
  width: 10px !important;
}

.filters ul::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.filters ul::-webkit-scrollbar {
  width: 7px !important;
}

.filters ul li {
  width: 100%;
  margin-bottom: 0px;
  list-style: none;
}
