.main .content {
  width: 80%;
  flex: 0 0 80%;
}

.right-content {
  padding: 90px 30px;
}

.dashboardBoxWrapper {
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.dashboardBoxWrapperRow .box {
  width: 100%;
  height: 100%;
  background: #ccc;
}
