.main .content {
  width: 80%;
  flex: 0 0 80%;
}

.right-content {
  padding: 90px 30px;
}

.dashboardBoxWrapper {
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.dashboardBoxWrapperRow .box {
  width: 100%;
  height: 100%;
}

.graphBox {
  background-image: linear-gradient(#1a50d5, #2a6ff7);
  border-radius: 10px;
  padding: 25px;
}

.toggleIcon {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.toggleIcon svg {
  color: #fff !important;
  font-size: 20px;
  opacity: 1 !important;
}

.graphBox h4 {
  font-size: 16px;
  font-weight: 600;
}

.graphBox p {
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
}

.card {
  margin: 20px 0px !important;
  border-radius: 10px !important;
}

.card .hd {
  font-size: 20px;
  font-weight: bold;
  color: #403e57;
}

.cardFilters .col-md-3 h4 {
  font-size: 16px;
  font-weight: 800;
  color: #403e57;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #403e57 !important;
}

.table thead th {
  color: #fff !important;
  background: #1866ee !important;
  border-color: rgba(255, 255, 255, 0.1);
  font-size: 15px !important;
}

.table tbody td {
  font-size: 14px !important;
  color: #403e57 !important;
  font-weight: 500;
}

.table tbody .actions button {
  min-width: 32px !important;
  width: 32px !important;
  height: 32px !important;
  margin: 0px 3px !important;
}

.table tbody .actions button.secondary {
  background: rgba(203, 60, 231, 0.2) !important;
}
.table tbody .actions button.success {
  background: rgba(26, 159, 83, 0.2) !important;
}
.table tbody .actions button.error {
  background: rgba(241, 17, 51, 0.2) !important;
}

.table tbody .actions button svg {
  font-size: 32px !important;
}

table.v-align td {
  vertical-align: middle !important;
}

.table td .old,
.table td .new {
  display: block;
  width: 100%;
}

table td .imgWrapper {
  width: 30%;
  flex: 0 0 30%;
}

table td .info {
  width: 70%;
  flex: 0 0 70%;
}

table td .info h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

table td .info p {
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0px;
}

table td .productBox {
  width: 150px;
}

table td .productBox .info {
  width: 100%;
}

table td .imgWrapper {
  width: 50px;
}

.tableFooter {
  padding-bottom: 20px;
}

.tableFooter .pagination {
  margin-right: auto;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: #0858f7 !important;
}
