@font-face {
  font-family: myFirstFont;
  src: url("./assets/Fonts/NotoNaskhArabic-VariableFont_wght.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: myFirstFont !important;
}

.container-fluid {
  padding: 0px 4px;
}

.cursor {
  cursor: pointer;
}

.bg-g,
.bg-success {
  background: #3bb77e !important;
}

.text-g {
  color: #3bb77e;
}

.hd {
  font-size: 32px !important;
  font-weight: 600 !important;
  margin-bottom: 25px;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-bottom: 0px;
}

.dirRtl {
  direction: rtl !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}
