@font-face {
  font-family: myFirstFont;
  src: url("./assets/Fonts/NotoNaskhArabic-VariableFont_wght.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: myFirstFont !important;
}

.container-fluid {
  padding: 0px 4px;
}

.cursor {
  cursor: pointer;
}
