@font-face {
  font-family: myFirstFont;
  src: url("./assets/Fonts/NotoNaskhArabic-VariableFont_wght.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: myFirstFont !important;
}

.container-fluid {
  padding: 0px 4px;
}

.cursor {
  cursor: pointer;
}

.bg-g,
.bg-success {
  background: #3bb77e !important;
}

.text-g {
  color: #3bb77e;
}

.hd {
  font-size: 38px !important;
  font-weight: 600 !important;
}
