.breadcrumbWrapper {
  width: 100% !important;
  height: auto !important;
  padding: 30px 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.breadcrumb2 {
  background: none !important;
  padding: 0px !important;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #3bb77e;
  text-decoration: none !important;
}

ul.breadcrumb li a:hover {
  color: #3bb77e;
  text-decoration: underline;
}

.detailsContainer {
  max-width: 85%;
  padding: 30px 0px;
}

.detailsPage .productInfo {
  padding-right: 80px;
}

.detailsPage .productInfo h1 {
  font-size: 25px;
  font-weight: bold;
  opacity: 0.8;
}

.detailsPage .productInfo p {
  font-size: 20px;
}

.detailsPage .productInfo .priceSec .priceLarge {
  font-size: 35px;
  font-weight: bold;
}

.detailsPage .productInfo .priceSec .text-org {
  font-size: 20px;
  font-weight: 600;
}

.detailsPage .productInfo .priceSec .text-lightt.oldPrice {
  font-size: 25px;
  font-weight: 600;
  text-decoration: line-through;
}

.productZoom {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
}

.zoomSliderBig {
  width: 100% !important;
}


.zoomSlider * {
  padding-top: 1px;
  cursor: pointer;
  outline: none !important;
}

.zoomSlider .slick-slide {
  border-radius: 10px;
  padding-left: 20px !important;
}

.addCarSection {
  width: 100%;
  height: auto;
}

.addCarSection .counterSec {
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #3bb77e !important;
  overflow: hidden;
}

.addCarSection .counterSec input {
  width: 40px;
  height: 50px;
  padding: 5px;
  border: 0px;
  outline: none !important;
  text-align: center;
}

.addCarSection .counterSec {
  position: relative;
}

.addCarSection .counterSec .arrow {
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
}

.addCarSection .counterSec .arrow.plus {
  top: 0px;
  left: 10px;
}

.addCarSection .counterSec .arrow.minus {
  bottom: 0px;
  left: 10px;
}

.addCarSection button {
  min-width: inherit;
}

.detailsPageTabs {
  border-radius: 25px !important;
}

.customTabs ul li {
  margin-left: 30px;
}

.customTabs ul li button {
  padding: 10px 25px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  font-size: 15px !important;
  border-radius: 30px !important;
  color: #000;
}

.customTabs ul li button.active {
  color: #3bb77e !important;
}

.card {
  border-radius: 10px !important;
}

.reviewsCard {
  margin-bottom: 25px !important;
}

.reviewForm .form-group {
  margin-bottom: 25px;
}

.reviewForm .form-group .form-control {
  height: 60px;
  font-size: 18px;
  border-radius: 7px !important;
  padding-right: 20px;
}

.reviewForm .form-group textarea.form-control {
  height: 200px;
  padding-top: 20px;
}

.progressBarBox {
  margin-bottom: 10px;
}

.relatedProducts .item {
  padding: 15px 5px;
  padding-right: 25px !important;
}