.breadcrumbWrapper {
  width: 100% !important;
  height: auto !important;
  padding: 30px 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.breadcrumb2 {
  background: none !important;
  padding: 0px !important;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #3bb77e;
  text-decoration: none !important;
}

ul.breadcrumb li a:hover {
  color: #3bb77e;
  text-decoration: underline;
}

.detailsPage .productInfo h1 {
  font-size: 25px;
  font-weight: bold;
  opacity: 0.8;
}
.detailsPage .productInfo .priceSec .priceLarge {
  font-size: 35px;
  font-weight: bold;
}

.detailsPage .productInfo .priceSec .text-org {
  font-size: 20px;
  font-weight: 600;
}

.detailsPage .productInfo .priceSec .text-lightt.oldPrice {
  font-size: 25px;
  font-weight: 600;
  text-decoration: line-through;
}

.productZoom {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
}

.zoomSlider {
  padding-top: 1px;
}

.zoomSlider .slick-slide {
  border-radius: 10px;
  padding-left: 20px !important;
}

.detailsContainer {
  max-width: 90%;
}
