.homeSlider {
  padding: 25px 0px;
  padding-top: 11%;
}

.home_slider_main {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slick-arrow {
  position: absolute !important;
  top: 47% !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  background: #f2f3f4 !important;
  z-index: 100;
  font-family: FontAwesome !important;
  transition: all 0.2s ease-in-out;
}

.slick-arrow.slick-next {
  left: 96% !important;
}

.slick-arrow.slick-prev {
  left: 2% !important;
}

.slick-prev:before {
  content: "\f104" !important;
  font-family: FontAwesome !important;
  font-size: 30px !important;
  color: #000;
}

.slick-next:before {
  content: "\f105" !important;
  font-family: FontAwesome !important;
  font-size: 30px !important;
  color: #000;
}

.slick-arrow:hover {
  background: #3bb77e !important;
}

.slick-arrow:hover::before {
  color: #fff !important;
}

.home_slider_main .slick-dots {
  position: absolute !important;
  bottom: 30px !important;
}

.home_slider_main .slick-dots button::before {
  width: 10px !important;
  height: 10px !important;
  font-size: 16px !important;
}

.slick-active button::before {
  color: #12261d !important;
}

.home_slider_main .item {
  position: relative;
}

.home_slider_main .item .info {
  position: absolute;
  top: 15%;
  right: 7%;
  z-index: 100;
}

.home_slider_main .item .info h2 {
  font-size: 90px;
  font-weight: bold;
  color: #474242;
}

.home_slider_main .item .info p {
  font-size: 25px;
  font-weight: 500;
  color: #7e7e7e;
}
